
a {text-align: center;}	

body {background: 	#b9f2ff;
	font-family:arial ;
	padding: 0;
	margin: 0;
	text-align: center;}

h2 {color: red;}

.b {background-color:#00ffaa;
	margin-left: 200px;
	margin-right: 200px;
	text-decoration: none;} 
	.A {background: #00ffaa ;
		margin-right:  300px;
		margin-left: 300px;
		align-content: center;
		font-family:cursive;}
}



